.container {
    background-color: bisque;
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.nav {
background-color: black;
height: 5vh;

}
.section-one{
border: solid rebeccapurple;
display: flex;
flex-direction: row;

gap: 5em;
justify-content: center;
align-content: center;


}
.section-two{
   
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
   

}
.section-two > div {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    flex-basis: 300px;
    border: black solid;
}
.section-one > div {
    border: dashed pink;
   

    min-height:100px;
     margin: 10px;
     background-color: white;
   flex-basis: 200px;
   padding: 10px;
   min-height: 100px;
}

.header{

}
.middle{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
}


.bottom{
    gap: 4px;
}
.second-col-header {

}
.second-col-salary {


    display: flex;
    justify-content: space-between;
    margin: 10px;

}
.second-col-bottom {
    display: flex;
    gap: 4px;

}
.third-col-header{

}
.third-col-middle{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-direction: column;
    
    align-content: space-around;
    gap: 10px;
}
.third-col-bottom{

}


